<body style="background-image: url(/assets/617C58.jpg)">
<div class="container">
<p style="color: green"><%= notice %></p>

<br>

<h1>Make Lines</h1>
<p>http://127.0.0.1:3000/makelines</p>

<br>

<%#= @input1 %> <%#= @input2 %> <%#= @result %>
<%= @input %>
<%= form_with url: "/makelines", method: :get do |form| %>
  <%= form.label :query, "Lucky number" %>
  <%= form.text_field :luckyNum %>
  <%= form.label :query, "Unlucky number" %>
  <%= form.text_field :unluckyNum %>
  <%= form.submit "Submit" %>
<% end %>

<br>

<%= render "form", line: @line %>

</div>
</body>